<div class="<?php if($this->isShort()): ?>Short<?php endif ?> Banner">
  <img src="images/banner.png" />
  <h1 data-href="./"><?php echo $this->escape($this->getConfigTitle()); ?></h1>
  
  <?php if(!$this->isShort()) : ?>
  <?php if($this->hasEvent()) : ?>
  <h3>Next Event</h3>
  <?php echo $this->getEvent(); ?>
  <?php else: ?>
  <h3>There is no upcoming event</h3>
  <div class="Event">
  Please, come back later...
  </div>
  <?php endif ?>
  <?php endif ?>
</div>
