<div class="Event" data-href="<?php echo $this->escape($this->getUrl()); ?>">
  <p><a href="<?php echo $this->escape($this->getUrl()); ?>"><?php echo $this->escape($this->getDate()); ?>
  <?php if($this->getLocation()) : echo ' in ' . $this->escape($this->getLocation()); endif ?></a></p>
  <p><?php echo $this->escape($this->getAuthor()); ?></p>
  <p><em><a href="<?php echo $this->escape($this->getUrl()); ?>"><?php echo $this->escape($this->getTitle()); ?></a></em></p>
</div>
