<div class="Column">
<h3>Links</h3>
<ul>
<?php foreach($this->getLinks() as $link) : ?>
  <li><a href="<?php echo $this->escape($link['url']); ?>"><?php echo $this->escape($link['title']); ?></a></li>
<?php endforeach ?>
<?php foreach(glob('Mods/Links/*.html') as $file) :
  echo file_get_contents($file);
  endforeach ?>
</ul>
</div>
