        <item>
            <title><?php echo $this->escape($this->getTitle(), 'xml'); ?></title>
            <description><?php echo $this->escape($this->getDescription(), 'xml'); ?></description>
            <pubDate><?php echo $this->getPubDate(); ?></pubDate>
            <link><?php echo $this->escape($this->getUrl(), 'xml'); ?></link>
            <guid><?php echo $this->getGuid(); ?></guid>
        </item>
