<?php if($this->getYears()): ?>
<div class="YearsColumn Column">
<h3>Years</h3>
<ul>
<?php foreach($this->getYears() as $year) : ?>
  <li><a href="Events?year=<?php echo $this->escape($year['year']); ?>">
  <?php echo intval($year['year']) . ' - ' . (intval($year['year']) + 1); ?></a></li>
<?php endforeach ?>
</ul>
</div>
<?php endif ?>
