<?php echo $this->action('Helper_Banner'); ?>

<div class="Admin Content">
<h2>Administration Panel</h2>

<ul class="Tabs">
  <li data-to="#events">Events</li>
  <li data-to="#authors">Authors</li>
  <li data-to="#locations">Locations</li>
  <li data-to="#structures">Structures</li>
  <li data-to="#links">Links</li>
  <li class="Last">&nbsp;</li>
</ul>

<table class="Hidden" id="events">
<caption>Events (limit 5)</caption>
<thead>
<form method="get" action="Admin">
<tr>
  <td colspan="6" align="center">Search for older events: &nbsp;
  <input type="text" name="search" style="width: 300px" value="<?php echo $this->escape($this->getEventSearch()); ?>" />
  <input type="submit" value="Search" /></td>
</tr>
</form>
<tr>
  <th>Id</th>
  <th>Author</th>
  <th>Location</th>
  <th>Title</th>
  <th>Date</th>
  <th></th>
</tr>
</thead>
<tbody>
<?php foreach($this->getEvents() as $event) : ?>
<form method="post" id="event_form_<?php echo $event['event_id']; ?>" action="Admin_DeleteEvent">
  <input type="hidden" name="event_id" value="<?php echo $event['event_id']; ?>" />
</form>
<form method="post" action="Admin_UpdateEvent">
  <input type="hidden" name="event_id" value="<?php echo $event['event_id']; ?>" />
  <tr>
    <td><?php echo $event['event_id']; ?></td>
    <td><select name="author_id" style="width: 100px">
    <?php foreach($this->getAuthors() as $author) : ?>
      <option value="<?php echo $author['author_id']; ?>" <?php echo $author['author_id'] == $event['author_id'] ? 'selected="selected"' : ''; ?>><?php echo $author['first_name'] . ' ' . $author['last_name']; ?></option>
    <?php endforeach ?>
    </select></td>
    <td><select name="location_id" style="width: 100px">
    <?php foreach($this->getLocations() as $location) : ?>
      <option value="<?php echo $location['location_id']; ?>" <?php echo $location['location_id'] == $event['location_id'] ? 'selected="selected"' : ''; ?>><?php echo $location['short'] ?></option>
    <?php endforeach ?>
    </select></td>
    <td><input type="text" name="title" style="width: 120px" value="<?php echo $this->escape($event['title']); ?>" /></td>
    <td><input type="text" name="date" style="width: 120px" value="<?php echo $this->escape(date('Y-m-d H:i', strtotime($event['date']))); ?>" /></td>
    <td>
    <input type="button" data-yes="#event_form_<?php echo $event['event_id']; ?>" data-confirm="Are you sure you want to delete this event ?" value="Delete" />
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Abstract:</td>
  <td colspan="3"><textarea name="abstract" style="width: 420px"><?php echo $this->escape($event['abstract']); ?></textarea></td>
  <td><input type="submit" value="Update" /></td>
</tr>
</form>
<?php endforeach ?>
<form method="post" action="Admin_CreateEvent">
<tr>
  <td>&nbsp;</td>
  <td><select name="author_id" style="width: 100px">
  <?php foreach($this->getAuthors() as $author) : ?>
    <option value="<?php echo $author['author_id']; ?>"><?php echo $author['first_name'] . ' ' . $author['last_name']; ?></option>
  <?php endforeach ?>
  </select></td>
  <td><select name="location_id" style="width: 100px">
  <?php foreach($this->getLocations() as $location) : ?>
    <option value="<?php echo $location['location_id']; ?>" <?php echo $location['location_id'] == $event['location_id'] ? 'selected="selected"' : ''; ?>><?php echo $location['short'] ?></option>
  <?php endforeach ?>
  </select></td>
  <td><input type="text" name="title" style="width: 120px" /></td>
  <td><input type="text" name="date" style="width: 120px" /></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>Abstract:</td>
  <td colspan="3"><textarea name="abstract" style="width: 420px"></textarea></td>
  <td><input type="submit" value="Create" /></td>
</tr>
</form>
</tbody>
</table>

<table class="Hidden" id="authors">
<caption>Authors</caption>
<thead>
<tr>
  <th></th>
  <th>Id</th>
  <th>First name</th>
  <th>Last name</th>
  <th>Email</th>
  <th>Webpage</th>
  <th></th>
</tr>
</thead>
<tbody>
<?php foreach($this->getAuthors() as $author) : ?>
<form method="post" action="Admin_UpdateAuthor">
<input type="hidden" name="author_id" value="<?php echo $author['author_id']; ?>" />
<tr>
  <td class="More" data-target="#authors_structure_list_<?php echo $author['author_id']; ?>"><img src="images/right-arrow.png" /></td>
  <td><?php echo $author['author_id']; ?></td>
  <td><input type="text" name="first_name" style="width: 60px" value="<?php echo $this->escape($author['first_name']); ?>" /></td> 
  <td><input type="text" name="last_name" style="width: 60px" value="<?php echo $this->escape($author['last_name']); ?>" /></td>
  <td><input type="text" name="email" style="width: 120px" value="<?php echo $this->escape($author['email']); ?>" /></td>
  <td><input type="text" name="webpage" style="width: 200px" value="<?php echo $this->escape($author['webpage']); ?>" /></td>
  <td><input type="submit" value="Update" /></td>
</tr>
</form>
<tr class="Hidden" id="authors_structure_list_<?php echo $author['author_id']; ?>">
  <td colspan="7">
    <table>
    <thead>
      <tr>
        <th>Structure</th>
        <th>From (Y-m-d)</th>
        <th>To (Y-m-d)</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <?php foreach($author['structures'] as $structure) : ?>
    <form method="post" action="Admin_DeleteAuthorsStructure" id="authors_structure_form_<?php echo $structure['authors_structure_id']; ?>">
      <input type="hidden" name="authors_structure_id" value="<?php echo $structure['authors_structure_id'] ?>" />
    </form>
    <tr>
      <td><?php echo $this->escape($structure['name']); ?></td>
      <td><?php echo $this->escape($structure['start_date'] ? $structure['start_date'] : 'Since ever'); ?></td>
      <td><?php echo $this->escape($structure['end_date'] ? $structure['end_date'] : 'For ever'); ?></td>
      <td><input type="button" data-yes="#authors_structure_form_<?php echo $structure['authors_structure_id']; ?>" data-confirm="Are you sure you want to remove this structure ?" value="Remove" /></td>
    </tr>
    <?php endforeach ?>
    <form method="post" action="Admin_CreateAuthorsStructure">
    <input type="hidden" name="author_id" value="<?php echo $author['author_id']; ?>" />
    <tr>
      <td><select name="structure_id" style="width: 150px">
      <?php foreach($this->getStructures() as $str) : ?>
      <option value="<?php echo $str['structure_id']; ?>"><?php echo $this->escape($str['name']); ?></option>
      <?php endforeach ?>
      </select></td>
      <td><input type="text" name="start_date" style="width:100px" /></td>
      <td><input type="text" name="end_date" style="width:100px" /></td>
      <td><input type="submit" value="Add" /></td>
    </tr>
    </form>
    </table>
  </td>
</tr>
<?php endforeach ?>
<form method="post" action="Admin_CreateAuthor">
<tr>
  <td colspan="2">&nbsp;</td>
  <td><input type="text" name="first_name" style="width: 60px" /></td>
  <td><input type="text" name="last_name" style="width: 60px" /></td>
  <td><input type="text" name="email" style="width: 120px" /></td>
  <td><input type="text" name="webpage" style="width: 200px" /></td>
  <td><input type="submit" value="Create" /></td>
</tr>
</form>
</tbody>
</table>


<table class="Hidden" id="locations">
<caption>Locations</caption>
<thead>
<tr>
  <th>Id</th>
  <th>Short location</th>
  <th>Url</th>
  <th>Long description</th>
  <th>&nbsp;</th>
</tr>
</thead>
<tbody>
<?php foreach($this->getLocations() as $location) : ?>
<form method="post" action="Admin_UpdateLocation">
<input type="hidden" name="location_id" value="<?php echo $location['location_id']; ?>" />
<tr>
  <td><?php echo $location['location_id']; ?></td>
  <td><input type="text" style="width: 150px" name="short" value="<?php echo $this->escape($location['short']); ?>" /></td> 
  <td><input type="text" style="width: 100px" name="url" value="<?php echo $this->escape($location['url']); ?>" /></td> 
  <td><textarea style="width: 300px" name="detailed"><?php echo $location['detailed']; ?></textarea></td>
  <td><input type="submit" value="Update" /></td>
</tr>
</form>
<?php endforeach ?>
<form method="post" action="Admin_CreateLocation">
<tr>
  <td>&nbsp;</td>
  <td><input type="text" style="width: 150px" name="short" /></td>
  <td><input type="text" style="width: 100px" name="url" /></td>
  <td><textarea style="width: 300px" name="detailed"></textarea></td>
  <td><input type="Submit" value="Create" /></td>
</tr>
</form>
</tbody>
</table>

<table class="Hidden" id="structures">
<caption>Structures</caption>
<thead>
<tr>
  <th>Id</th>
  <th>Name</th>
  <th>Website</th>
  <th>&nbsp;</th>
</tr>
</thead>
<tbody>
<?php foreach($this->getStructures() as $structure) : ?>
<form method="post" action="Admin_UpdateStructure">
<input type="hidden" name="structure_id" value="<?php echo $structure['structure_id']; ?>" />
<tr>
  <td><?php echo $structure['structure_id']; ?></td>
  <td><input type="text" style="width: 200px" name="name" value="<?php echo $this->escape($structure['name']); ?>" /></td> 
  <td><input type="text" style="width: 300px" name="website" value="<?php echo $this->escape($structure['website']); ?>" /></td> 
  <td><input type="submit" value="Update" /></td>
</tr>
</form>
<?php endforeach ?>
<form method="post" action="Admin_CreateStructure">
<tr>
  <td>&nbsp;</td>
  <td><input type="text" style="width: 200px" name="name" /></td>
  <td><input type="text" style="width: 300px" name="website" /></td>
  <td><input type="Submit" value="Create" /></td>
</tr>
</form>
</tbody>
</table>


<table clas="Hidden" id="links">
<caption>Links</caption>
<thead>
<tr>
  <th>Id</th>
  <th>Title</th>
  <th>Url</th>
  <th></th>
</tr>
</thead>
<tbody>
<?php foreach($this->getLinks() as $link) : ?>
<form method="post" action="Admin_UpdateLink">
<input type="hidden" name="link_id" value="<?php echo $link['link_id']; ?>" />
<tr>
  <td><?php echo $link['link_id']; ?></td>
  <td><input type="text" style="width: 250px" name="title" value="<?php echo $this->escape($link['title']); ?>" /></td> 
  <td><input type="text" style="width: 250px" name="url" value="<?php echo $this->escape($link['url']); ?>" /></td>
  <td><input type="submit" value="Update" /></td>
</tr>
</form>
<?php endforeach ?>
<form method="post" action="Admin_CreateLink">
<tr>
  <td>&nbsp;</td>
  <td><input type="text" style="width: 250px" name="title" /></td>
  <td><input type="text" style="width: 250px" name="url" /></td>
  <td><input type="Submit" value="Create" /></td>
</tr>
</form>
</tbody>
</table>

</div>
