<?php echo $this->action('Helper_Banner'); ?>

<div class="Content">
  <h3><?php echo $this->escape($this->getTitle()); ?></h3>
  
  <h4><strong>Date:</strong> <?php echo $this->escape($this->getDate()); ?>
    <strong>Author:</strong> 
    <?php if($this->getWebPage()) : ?>
    <a href="<?php echo $this->escape($this->getWebPage()); ?>">
    <?php endif ?>
    <?php echo $this->escape($this->getAuthor()); ?>
    <?php if($this->getWebPage()) : ?></a><?php endif ?>
  </h4>
  <?php if($this->hasLocation()) : ?>
  <h4><strong>Location:</strong> <a href="<?php echo $this->escape($this->getLocationUrl()); ?>"><?php echo $this->escape($this->getLocationShort()); ?></a></h4>
  <?php endif ?>

  <h4><strong>Abstract:</strong></h4>
  <p><?php echo nl2br($this->escape($this->getAbstract())); ?></p>
</div>
