<?php echo $this->action('Helper_Banner'); ?>

<div class="EventsColumn Column">
<?php if($this->getEvents()) : ?>
<h3><a href="Rss?year=<?php echo intval($this->getYear()) ?>" /><img src="images/rss.png" /></a> Events of <?php echo intval($this->getYear()) ?> - <?php echo intval($this->getYear()) + 1; ?></h3>
<ul>
<?php foreach($this->getEvents() as $event) : ?>
  <li><?php echo $this->getEvent($event); ?></li>
<?php endforeach ?>
</ul>
<?php endif ?>
</div>

<?php echo $this->action('Helper_Years'); ?>
