<?php echo $this->action('Helper_Banner'); ?>

<div class="Content">
<h3>Exception</h3>
				
	<p>An exception has occurred :</p>
	
	<code>
	<?php echo $this->getException()->getMessage(); ?>
	</code>
	
</div>

