<?php echo $this->action('Helper_Banner'); ?>

<div class="Content">
  <h3><?php echo $this->escape($this->getShort()); ?></h3>
  
  <?php if($this->getUrl()) : ?>
  <div style="float: right">
  <iframe width="300" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<?php echo $this->getUrl(); ?>"></iframe>
  </div>
  <?php endif ?>

  <h4><strong>Access:</strong></h4>
  <p><?php echo nl2br($this->escape($this->getDetailed())); ?></p>
</div>
