<?php echo $this->action('Helper_Banner', array('event' => $this->getNextEvent())); ?>

<div class="EventsColumn Column">
<?php if($this->getEvents()) : ?>
<h3><a href="Rss" /><img src="images/rss.png" /></a> Events</h3>
<ul>
<?php foreach($this->getEvents() as $event) : ?>
  <li><?php echo $this->getEvent($event); ?></li>
<?php endforeach ?>
</ul>
<div class="More"><a href="Events">All events</a></div>
<?php endif ?>
</div>

<?php echo $this->action('Helper_Years'); ?>
<?php echo $this->action('Helper_Links'); ?>

