<?php echo '<' ?>?xml version="1.0" encoding="utf8"?<?php echo ">\n"; ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <atom:link href="<?php echo 'http://' . $_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"]; ?>" rel="self" type="application/rss+xml" />
        <title><?php echo $this->escape($this->getTitle(), 'xml'); ?></title>
        <description><?php echo $this->escape($this->getTitle(), 'xml'); ?></description>
        <lastBuildDate><?php echo date('r'); ?></lastBuildDate>
        <link><?php echo 'http://' . dirname($_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"]); ?></link>
        <?php foreach($this->getEvents() as $event) : ?>
        <?php echo $this->getEvent($event); ?>
        <?php endforeach ?>
    </channel>
</rss>
