
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Avenir, Arial;
}

a { 
  color: #0082b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.More {
  font-size: 12px;
  text-align: center;
}

[data-href]:hover {
  cursor: pointer;
  text-decoration: underline;
}

[data-href] a {
  color: inherit;
}

#Main {
  width: 800px;
  margin: 10px auto 10px auto;
  border: 1px solid #666666;
}

#Main .Banner {
  background-color: #0082b9;
  height: 250px;
  position: relative;
  color: white;
  border-bottom: 1px solid #666666;
}

#Main .Banner h1 {
  padding: 20px 0px 10px 15px;
}

#Main .Banner h3 {
  padding: 20px 0px 10px 30px;
}

#Main .Banner .Event {
  padding: 0px 0px 10px 30px;
  width: 350px;
  font-size: 14px;
}

#Main .Banner img {
  display: block;
  float: right;
}

#Main .Short.Banner {
  height: 80px;
}

#Main .Short.Banner img {
  height: 80px;
  width: auto;
}


#Main .Column {
  width: 200px;
  float: left;
  padding: 10px;
  margin: 20px;
}

#Main .Column h3 {
  color: #0088CE;
}

#Main .Column ul {
  list-style: none;
  font-size: 13px;
  padding-left: 3px;
  padding-top: 10px;
}

#Main .Column .Share {
  margin-top: 20px;
}

#Main .Column .Share div {
  float: left;
  margin-right: 10px;
}


#Main li .Event {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-top: 5px;
  border-top: 1px solid #CCCCCC;
}

#Main li.Share {
  display: none;
}


#Main .EventsColumn {
  width: 450px;
  margin-right: 30px;
}


#Main .Bottom {
  font-size: 11px;
  clear: both;
  padding: 20px 0px 5px 0px;
  text-align: center;
}

#Main .Content {
  padding: 60px;
}

#Main .Content p {
  font-size: 13px;
}

#Main .Content h4  {
  margin-top: 30px;
  font-size: 14px;
  font-weight: normal;
}

#Main .Content h4 strong + strong {
  padding-left: 100px;
}

#Main .Content h4 strong {
  color: #555555;
  padding-right: 10px;
}

#Main h3 a img {
  float: right;
  display: block;
  width: 20px;
}

.Admin table {
  border-spacing: 0;
  border: 1px solid #CCCCCC;
  width: 100%;
}

.Admin table td, table th {
  padding: 10px 5px 10px 5px;
}

.Admin thead {
  background-color: #CCCCCC;
}

.Admin table {
  margin: 30px 0px 10px 0px;
}

.Admin table * {
  font-size: 12px;
}

.Admin input[type=text], .Admin textarea {
  border: 0px;
  border-bottom: 1px dotted #CCCCCC;
}

.Admin caption {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
}

.Admin .Tabs {
  border-bottom: 1px solid #CCCCCC;
  margin-top: 20px;
}

.Admin .Tabs li {
  list-style: none;
  border: 1px solid #CCCCCC;
  border-bottom: 0px;
  display: block;
  padding: 3px 10px 3px 10px;
  float: left;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: #EEEEEE;
}


.Admin .Tabs li.Selected {
  background-color: white;
}

.Admin .Tabs li:hover {
  background-color: white;
}

.Admin .Tabs li.Last {
  float: none;
  border-color: transparent;
  width: 0px;
}

.Admin .Hidden {
  display: none;
}

.Admin table table {
  width: auto;
  margin: auto;
}

.Admin table table thead {
  background-color: transparent;
}

.Admin .More {
  width: 20px;
  cursor: pointer;
}

